# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Scrapy
.scrapy/
build/
eggs/
logs/
items/
dbs/
project.egg-info

# Database
*.db

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db
